@media only screen and (max-width: 810px) {
    .navi {
        display: flex;
        width: 99%;
        justify-content: space-between;
        height: 60px;
        background: teal;
        padding: 6px;
        align-items: center;
        margin: auto;
    }

    .navi a {
        text-decoration: none;
        color: antiquewhite;
        font-weight: bold;
        font-size: large;
        background: rgb(149, 201, 149);
        padding: 9px;
    }

    .navi ul {
        display: none;
    }

    .navi #togglemenu {
        display: block;
    }

    .sidenavi {
        display: block;
        width: 35%;
        height: 30vh;
        background: teal;
    }

    .sidenavi ul {
        list-style: none;
        display: block;
        left: 0;
    }

    .sidenavi a {
        display: block;
        text-decoration: none;
    }

    .hero {
        width: 99%;
        height: auto;
        overflow: hidden;
        border: solid 2px;
        margin: auto;
        display: block;

    }

    .heroleft {
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .heroright {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .heroright img {
        width: 90%;
        height: 90%;
    }


    .foot {
        bottom: 0;
        height: auto;
        width: 99%;
        display: block;
        color: aqua;
        position: sticky;
        padding: 6px;
        align-items: left;
        background: black;
        margin: auto;
    }

    .foot .left {
        width: 100%;
    }

    .foot .right {
        display: block;
        width: 100%;
    }
}