:root {
    --color_primary_dark: black;
    --color_primary_light: white;
    --color_primary_contrast: teal;
    --body_background:#152238;
    --body_color: #ffffff;
    --body_contrast: #008080;

    /*background:var(--color_primary_dark);*/
}

[theme="light"] {
    --body_background: #123456;
    --body_color: #ffffff;
    --body_contrast: #00FFFF;
}

[theme="dark"] {
    --body_background: #ffffff;
    --body_color: #000000;
    --body_contrast: #008080;
}


* {
    padding: 0;
    margin: 0;
    animation: transIn;
    transition: all 1.5s;
    animation-duration: 1.5s;
    scroll-behavior: smooth;
}

#root {
    background: var(--body_background);
    color: var(--body_color);
    overflow: hidden;
    height: auto;
}

/*
.body {
    background: var(--body_background);
    color: var(--body_color);
    overflow: hidden;
    height: auto;
}
*/

.hide {
    display: none;
}

.show {
    display: block;
}

.navi {
    display: flex;
    width: 99%;
    justify-content: space-between;
    height: 60px;
    background: #123456;
    color: antiquewhite;
    padding: 6px;
    align-items: center;
    margin: auto;
}

.navi button {
    background: none;
    border: none;
}

.navi .fa {
    font-size: 20px;
    padding: 5px;
    transition: all 1.5s;
}

.navi a:hover .fa {
    color: var(--body_background);

}

.navi a:hover {
    text-decoration: none;
    color: var(--body_background);
    background-color: var(--body_color);
    width: 100%;
    height: auto;
}


.sidenavi {
    display: none;
}

.navi a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    font-size: large;
    padding: 9px;
    transition: all 1.5s;
}

.navi a:hover,
a:active {
    border-bottom: solid 3px var(--body_color);
}

.navi ul {
    display: flex;
    list-style: none;
    padding: 9px;

}

.navi ul li {
    margin-right: 10px;

}

.navi #togglemenu {
    display: none;
}

.fa {
    font-size: 18px;
    color: antiquewhite;
}

.my_intro {
    transition: all 3s;
    display: none;
}

.my_intro-active {
    transition: all 3s;
    display: block;
}

#read_more_btn {
    padding: 11px;
    font-weight: bold;
    border: solid var(--body_contrast);
    background: none;
    border-radius: 11px;
    background-color: var(--body_color);
    color: var(--body_background);
    margin-top: 30px;
    left: 0;
}

#about {
    margin: auto;
    margin-top:10px;
    width: 85%;
    padding: 30px;
    min-height: 70vh;
    background-color: var(--body_background);
    color: var(--body_color);
    box-sizing: border-box;
}

#about .imgsect {
    width: 40%;
    float: right;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#about .descsect {
    width: 55%;
    float: left;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: start;
}

h2 {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 700;

}

.introI {
    display: inline-flex;
}

.staticI {
    font-size: 40px;
    font-weight: 600;

}

h3 {
    border-bottom: solid var(--body_background);
    width: 100%;
    bottom: 15px;
    background-color: var(--body_background);
    color: #fff;

}

.dynaI {
    margin-left: 5px;
    height: 50px;
    background: transparent;
    overflow: hidden;
}

.dynaI li span {
    position: relative;
    margin-top: 10px;
}

.dynaI::before {
    margin-top: 10px;
    content: "";
    border-left: 2px solid var(--body_contrast);
    width: 100%;
    height: 100%;
    background:var(--body_background);
    position: absolute;
    animation: typing 3s steps(15) infinite;
}
.Iname{
    font-size: 40px;
    font-weight: bold;

}
.dynaI{
    font-size: 40px;
    font-weight: 600;
    color: var(--body_contrast);
    top: 0px;
    position: relative;
    /*animation: slide 4.5s steps(3) infinite;*/
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#about img {
    width: 400px;
    height: 400px;
    left: 0;
    border-radius: 5%;
}

/**********************************************************************************/
.timeline {
    margin-top: 30px;
    width: 100%;
    height: 400px;
    background-color: #fff;
    overflow: scroll;
    color: #000000;

}
.container{
    display: grid;
    width:100%;
    grid-template-columns: 1fr 3px 1fr;
}
.component{
    margin: 0 20px 20px 20px;
    text-align: start;
    justify-content: start;
}

.component_middle{
    position: relative;
    background-color: #000;
}
.date_right{
    text-align: right;
   

}
.date_left{
    text-align: left;
}
.timeline_dot{
    position: absolute;
    left: 50%;
    /*Dead center text*/
    transform: translateX(-50%);
    top:0;
    width: 15px;
    height: 15px;
    background-color: #800000;
    border-radius: 50%;
}
.timeline_dot--bottom{
    top:initial;
    bottom: 0;
}
.achivement{
    border:solid 1px;
    padding:0 15px 15px 15px;
    border-radius: 20px;
    text-align: center;
}

/*##############################################################################################*/
#projects {
    background: var(--body_background);
    justify-content: center;
    align-items: center;
}

#projects li {
    display: inline-grid;
    row-gap: 10px;
    margin: 10px;

}

#projects a {
    text-decoration: none;
    color: var(--body_background);
    font-weight: bold;
    box-shadow: red;
    display: block;
    background: var(--body_color);
    text-align: center;
    border-radius: 15px;
    width: 250px;
    list-style: none;
    text-decoration: none;
    box-shadow: var(--body_contrast) 20px;
    top: 15px;
}

#projects a:hover {
    transition: all 1s;
}

#projects a img {
    width: 100%;
    border-radius: 15px 15px 0 0;

}

/*##############################################################################################*/
.contact {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contact form {
    width: 90%;
    height: auto;
    margin: auto;
}

.contact form input[type='text'],
input[type='email'],
input[type='number'],
textarea {
    width: 60%;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-right: none;
    border-bottom: none;
    box-shadow: var(--body_contrast);
    outline: none;
}

.contact form button {
    padding: 11px;
    font-weight: bold;
    border: solid var(--body_contrast);
    background: none;
    background-color: var(--body_color);
    color: var(--body_background);
    border-radius: 11px;
    margin-top: 11px;
    left: 0;
}

#tip {
    background-image: url(./assets/images/mapesa.png);
    background-size: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    padding: 0;
    width: 75px;
    height: 75px;

}

#tipform {
    display: none;
}


.foot {
    display: block;
}

.foot .social a {
    padding: 12px;
    border-radius: 50%;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--body_background);

}

.foot .social .fa {
    color: var(--body_color);
    transition: all 1.5s;
}

.foot .social .fa:hover {
    color: var(--body_background);
}

.foot .social a:hover {
    padding: 12px;
    border-radius: 50%;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--body_color);

}

.foot .copywright {
    margin-left: 30%;
    padding: 10px;
}

.foot .social ul {
    margin-left: 40%;
}

.foot .social ul li {
    display: inline-grid;
    overflow: hidden;
    transition: all 1.5s;
    border-radius: 11px;
    margin: 3px;

}

.foot .social ul li:hover {
    background-color: var(--body_color);

}

.foot .social ul li:nth-child(1) {
    background-color: #0077B5;
    color: #fff;
}

.foot .social ul li:nth-child(2) {
    background-color: #333;
    color: #fff;
}

.foot .social ul li:nth-child(3) {
    background-color: #800000;
    color: #fff;
}

@keyframes typing {
    40%,60%{
        left: 100%;
    }
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        top: -185px;
    }
}

@keyframes slidein {
    from {
        margin-left: -500px;
        opacity: 0;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

@keyframes slidetop {
    from {
        top: -450px;
    }

    to {
        top: 0;
    }
}

@keyframes transIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}