.navi {
    display: flex;
    width: 99%;
    justify-content: space-between;
    height: 60px;
    background: teal;
    padding: 6px;
    align-items: center;
    margin: auto;
}

.sidenavi {
    display: none;
}

.navi a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    font-size: large;
    background: rgb(149, 201, 149);
    padding: 9px;
}

.navi ul {
    display: flex;
    list-style: none;
    padding: 9px;

}

.navi ul li {
    margin-right: 10px;

}

.navi #togglemenu {
    display: none;
}

.hero {
    top: 30px;
    display: flex;
    width: 99%;
    height: 45vh;
    border: solid 2px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.heroleft {
    justify-content: center;
    width: 45%;
    height: 100%;
    margin: auto;
}

.heroright {
    width: 45%;
    height: 100%;
    /*background-image: url(./assets/images/prof.jpg);*/
    background-size: contain;
    background-repeat: no-repeat;
    float: right;

}

.heroright img {
    width: 90%;
    height: 90%;
}

.projects {
    width: 100%;
}

/*##############################################################################################*/
article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

/* basic article elements styling */
article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
}

article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
}

article a:focus {
    outline: 1px dotted #28666e;
}

article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
  Generic layout (demo looks)
  **************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 48px 0;
    font-family: "Figtree", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
    min-height: 100vh;
}

.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}

@media screen and (max-width: 960px) {
    article {
        container: card/inline-size;
    }

    .article-body p {
        display: none;
    }
}

@container card (min-width: 380px) {
    .article-wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
    }

    .article-body {
        padding-left: 0;
    }

    figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    figure img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*##############################################################################################*/
.contact {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contact form {
    width: 60%;
    height: auto;
    margin: auto;
}

.contact form input[type='text'],
input[type='email'],
textarea {
    width: 95%;
    margin: auto;
    padding: 6px;
    margin-top: 3px;
}

.contact form button {
    left: 35%;
    width: 20%;
}

.copyright {
    text-align: center;
}

.foot {
    bottom: 0;
    height: 120px;
    width: 99%;
    display: flex;
    color: aqua;
    position: sticky;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
    background: black;
    margin: auto;
}

.foot .left {
    width: 30%;
}

.foot .right {
    display: flex;
    justify-content: space-between;
    width: 70%;
}